<?xml version="1.0"?>
<config>
	<default>
		<shoprunback>
			<url> 
				<public>
                    <sandbox>
                        https://sandbox.dashboard.shoprunback.com/en/
                    </sandbox>
                    <production>
                        https://dashboard.shoprunback.com/en/
                    </production>
				</public>
				<api_stagging>
					https://sandbox.dashboard.shoprunback.com/api/v1/
				</api_stagging>
				<api_production>
					https://dashboard.shoprunback.com/api/v1/
				</api_production>
			</url>
			<token>
				<key></key>
			</token>
            <pagination>
                <limit_item> 15 </limit_item>
            </pagination>
		</shoprunback>
	</default>
	<modules>
		<SRB_Shipback>
			<version>1.0.0</version>
		</SRB_Shipback>
	</modules>
	<global>
		<blocks>
			<srb_shipback>
		       <class>SRB_Shipback_Block</class>
		    </srb_shipback>
		</blocks>
		<helpers>
		    <srb_shipback>
		       <class>SRB_Shipback_Helper</class>
		    </srb_shipback>
		</helpers>
		<models>
			<srb_shipback>
				<class>SRB_Shipback_Model</class>
				<resourceModel>srb_shipback_resource</resourceModel>
			</srb_shipback>
			<srb_shipback_resource>
				<class>SRB_Shipback_Model_Resource</class>
				<!-- database table -->
                <entities>
                    <srbmapper>
                        <table>shoprunback_mapper</table>
                    </srbmapper>
                    <srbconf>
                    	<table>shoprunback_conf</table>
                    </srbconf>
                    <srbshipback>
                        <table>shoprunback_shipback</table>
                    </srbshipback>>
                </entities>
			</srb_shipback_resource>
		</models>
		<events>
            <sales_order_place_after>
                <observers>
                    <srb_shipback>
                        <class>srb_shipback/observer</class>
                        <method>addOrder</method>
                        <type>singleton</type>
                    </srb_shipback>
                </observers>
            </sales_order_place_after>
			<catalog_product_save_after>
				<observers>
					<srb_shipback>
						<class>srb_shipback/observer</class>
						<method>addProduct</method>
						<type>singleton</type>
					</srb_shipback>
				</observers>
			</catalog_product_save_after>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <srb_shipback>
                        <class>srb_shipback/observer</class>
                        <method>addOrder</method>
                        <type>singleton</type>
                    </srb_shipback>
                </observers>
            </checkout_type_onepage_save_order_after>
		</events>

		<resources>
			
            <srb_shipback_setup>
                <setup>
                    <module>SRB_Shipback</module>
                    <class>SRB_Shipback_Model_Resource_Setup </class>
                </setup>
                <connection>
		            <use>core_setup</use>
		        </connection>
            </srb_shipback_setup>
        
        </resources>
	</global>

	<admin>
        <routers>
            <!--Unique identifier-->
            <srb_shipback>
                <use>admin</use>
                <args>
                    <module>SRB_Shipback</module>
                    <frontName>shoprunback</frontName>
                </args>
            </srb_shipback>
        </routers>
    </admin>

     <!--Declare a layout update file-->
    <adminhtml>
    	<translate>
            <modules>
                <srb_shipback>
                    <files>
                        <default>SRB_Shipback.csv</default>
                    </files>
                </srb_shipback>
            </modules>
        </translate>
        <layout>
            <updates>
                <!-- Module identifier -->
                <srb_shipback>
                    <!-- Location of our layout file should be app/design/adminhtml/default/default/layout/shoprunback/backendmodule.xml -->
                    <file>shoprunback/backendmodule.xml</file>
                </srb_shipback>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
    	<translate>
            <modules>
                <SRB_Shipback>
                    <files>
                        <default>SRB_Shipback.csv</default>
                    </files>
                </SRB_Shipback>
            </modules>
        </translate>
        <routers>
            <srb_shipback>
                <use>standard</use>
                <args>
                    <module>SRB_Shipback</module>
                    <frontName>srb_shipback</frontName>
                </args>
            </srb_shipback>
        </routers>
        <layout>
            <updates>
                <shoprunback>
                    <file>shoprunback.xml</file>
                </shoprunback>
            </updates>
        </layout>
    </frontend>
</config>